<div class="wrapper">
    <div class="wrapper-left">
        <% @icons.each do |icon|%>
            <div class="wrapper-left-content">
                <span class="wrapper-left-content-icon">
                    <i class="<%= icon[:class] %>"></i>
                </span>
                <span class="wrapper-left-content-text">
                    <%= icon[:text] %>
                </span>
            </div>
        <% end %>
    </div>
    <div class="wrapper-right"></div>
</div>